/* line 1, ../sass/example.scss */
.header, .footer, .section {
  display: table;
  width: 100%;
  text-align: center;
  padding: 15%;
  box-sizing: border-box;
}
/* line 7, ../sass/example.scss */
.header > div, .footer > div, .section > div {
  display: table-cell;
  vertical-align: middle;
}

/* line 13, ../sass/example.scss */
html, body {
  font-family: Montserrat,sans-serif;
}

/* line 17, ../sass/example.scss */
a {
  color: inherit;
  text-decoration: underline;
  font-weight: 700;
}

/* line 23, ../sass/example.scss */
ul {
  padding-left: 0;
}

/* line 27, ../sass/example.scss */
li {
  list-style: none;
}

/* line 31, ../sass/example.scss */
.header, .footer {
  height: 700px;
}

/* line 40, ../sass/example.scss */
.section:nth-child(6n+1) {
  height: 700px;
  background-color: #FF708F;
}

/* line 45, ../sass/example.scss */
.section:nth-child(6n+2) {
  height: 1000px;
  background-color: #E89D5D;
}

/* line 50, ../sass/example.scss */
.section:nth-child(6n+3) {
  height: 500px;
  background-color: #FFE33E;
}

/* line 55, ../sass/example.scss */
.section:nth-child(6n+4) {
  height: 900px;
  background-color: #7AE856;
}

/* line 60, ../sass/example.scss */
.section:nth-child(6n+5) {
  height: 1500px;
  background-color: #7AFFE6;
}

/* line 65, ../sass/example.scss */
.section:nth-child(6n) {
  height: 400px;
  background-color: #6E74F5;
}
