%center-middle {
	display: table;
	width: 100%;
	text-align: center;
	padding: 15%;
	box-sizing: border-box;
	> div {
		display: table-cell;
		vertical-align: middle;
	}
}

html, body {
	font-family: Montserrat,sans-serif;
}

a {
	color: inherit;
	text-decoration: underline;
	font-weight: 700;
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

.header, .footer {
	@extend %center-middle;
	height: 700px;
}

.section {
	@extend %center-middle;
}

.section:nth-child(6n+1) {
	height: 700px;
	background-color: #FF708F;
}

.section:nth-child(6n+2) {
	height: 1000px;
	background-color: #E89D5D;
}

.section:nth-child(6n+3) {
	height: 500px;
	background-color: #FFE33E;
}

.section:nth-child(6n+4) {
	height: 900px;
	background-color: #7AE856;
}

.section:nth-child(6n+5) {
	height: 1500px;
	background-color: #7AFFE6;
}

.section:nth-child(6n) {
	height: 400px;
	background-color: #6E74F5;
}
