.header, .section {
  display: table;
  width: 100%;
  text-align: center;
}
.header > div, .section > div {
  display: table-cell;
  vertical-align: middle;
}

html, body {
  font-family: Montserrat,sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
  font-weight: 700;
}

.header {
  height: 700px;
}

.section:nth-child(5n+1) {
  height: 1000px;
  background-color: #FF708F;
}

.section:nth-child(5n+2) {
  height: 2000px;
  background-color: #E89D5D;
}

.section:nth-child(5n+3) {
  height: 500px;
  background-color: #FFE33E;
}

.section:nth-child(5n+4) {
  height: 700px;
  background-color: #7AE856;
}

.section:nth-child(5n) {
  height: 1500px;
  background-color: #7AFFE6;
}
